#about-header {
  background-image: url("/img/about/banner.png");
  height: 40vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-header h2 {
  color: #fff;
}

#about-header p {
  color: #838181;
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 50%;
  height: auto;
}

#about-head div {
  padding-left: 40px;
}

#about-app {
  text-align: center;
}

#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}

.video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media (max-width: 477px) {
  #about-head {
    display: flex;
    flex-direction: column;
  }
  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }
  #about-head div {
    padding-left: 0px;
  }
  #about-app .video {
    width: 100%;
  }
}
